body {
  background-color: black;
  color: white;
  overflow: hidden;
  font-family: "Press Start 2P", cursive;
  width: 100vw;
}

h1 {
  text-align: center;
}

#scoreContainer {
  color: white;
  position: relative;
  top: -1530px;
  right: -235px;
}

#score {
  margin: 10px;
}

#debug {
  color: white;
}

#debugLog {
  color: white;
}

#gameContainer {
  width: 800px;
  text-align: center;
  position: relative;
  margin: auto;
  height: 800px;
  color: white;
}

#tetris {
  display: inline;
  position: relative;
  top: -400px;
  right: -200px;
}

#nextBlockContainer {
  display: inline;
  position: relative;
  top: -1570px;
  left: 30px;
  font-size: medium;
}

#nextBlock {
  position: relative;
  top: 20px;
  right: -250px;
}

p {
  color: white;
}

button {
  background-color: rgb(31, 31, 31);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
}

@media only screen and (min-height: 1000px) {
  #tetris {
    display: inline;
    position: relative;
    top: -400px;
    right: -200px;
  }
}

@media only screen and (min-height: 1800px) {
  #tetris {
    display: inline;
    position: relative;
    top: -400px;
    right: -200px;
  }
}

.arrow {
  width: 30px;
  height: 30px;
}

#arrowRight {
  transform: rotate(180deg);
}

#arrowUp {
  transform: rotate(90deg);
}

#arrowDown {
  transform: rotate(-90deg);
}
